{{ define "main" }}
<main class="container py-5 flex-grow-1">
  <div class="row justify-content-center">
    <div class="col-12 mh-100">
  <h1>{{ .Title }}</h1>
  {{ if ne .Title "tags" }}
     <a href="/tags/"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
	<path fill="currentColor" d="m4 10l-.354.354L3.293 10l.353-.354zm16.5 8a.5.5 0 0 1-1 0zM8.646 15.354l-5-5l.708-.708l5 5zm-5-5.708l5-5l.708.708l-5 5zM4 9.5h10v1H4zM20.5 16v2h-1v-2zM14 9.5a6.5 6.5 0 0 1 6.5 6.5h-1a5.5 5.5 0 0 0-5.5-5.5z" />
</svg></a>
  {{ end }}
  {{ .Content }}
    {{ range .Pages }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a> </h2>
    {{ if .Params.tags }}
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
	<path fill="currentColor" d="m14.594 4l-.313.28l-11 11l-.685.72l.687.72l9 9l.72.686l.72-.687l11-11l.28-.315V4zm.844 2H23v7.563l-10 10L5.437 16zM26 7v2h1v8.156l-9.5 9.438l-1.25-1.25l-1.406 1.406l1.937 1.97l.72.686l.69-.687L28.72 18.31L29 18V7zm-6 1a1 1 0 1 0 0 2a1 1 0 0 0 0-2" />
    </svg>
    {{ end }}
      {{ range .Params.tags }}
         {{ . }} -
      {{ end }}
  {{ end }}
    </div>
  </div>
</main>
{{ end }}

